# Node.js
node_modules/
npm-debug.log*

# Logs
logs
*.log
*.out

# Build output
dist/
build/

# Environment files
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Docker
*.local
docker-compose.override.yml

# VSCode
.vscode/
.idea/

# React
apps/.next/
apps/out/
apps/build/

# Server
apps/server/dist/
